@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: Raleway, sans-serif;
}

body {
	background: linear-gradient(90deg, #ececec, #060606);
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

.screen {
	background: linear-gradient(90deg, #f2f1fa, #1e1b1b);
	position: relative;
	height: 800px;
	width: 560px;
	box-shadow: 0px 0px 24px #444349;
	border-radius: 20px;
}

.screen__content {
	z-index: 1;
	position: relative;
	height: 100%;
	left: 120px;
}

.screen__background {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 0;
	-webkit-clip-path: inset(0 0 0 0);
	clip-path: inset(0 0 0 0);
}

.screen__background__shape {
	transform: rotate(45deg);
	position: absolute;
}

.screen__background__shape1 {
	height: 710px;
	width: 620px;
	background: rgb(224, 222, 230);
	top: 50px;
	right: 200px;
	border-radius: 0 10px 0 0;
}



.login {
	width: 320px;
	padding: 30px;
	padding-top: 156px;
}

.login__field {
	padding: 20px 0px;
	position: relative;
}

.login__icon {
	position: absolute;
	top: 30px;
	color: #7875B5;
}

.login__input {
	border: none;
	border-bottom: 2px solid #D1D1D4;
	background: none;
	padding: 10px;
	padding-left: 24px;
	font-weight: 700;
	width: 75%;
	transition: .2s;
}

.login__input:active,
.login__input:focus,
.login__input:hover {
	outline: none;
	border-bottom-color: #6A679E;
}

.login__submit {
	position: relative;
	background: #fff;
	font-size: 14px;
	margin-top: 30px;
	padding: 16px 20px;
	border-radius: 26px;
	border: 1px solid #000000;
	text-transform: uppercase;
	font-weight: 700;
	display: flex;
	align-items: center;
	color: #ffffff;
	box-shadow: 0px 2px 2px #5C5696;
	cursor: pointer;
	transition: .2s;
	align-items: center;
	justify-content: center;
	width: fit-content;
	left: 4rem;
	background-color: rgb(130, 123, 123);
}

.login__submit:active,
.login__submit:focus,
.login__submit:hover {
	border-color: #6A679E;
	outline: none;
}


.sign_up{
    padding: 20px 0px;
	position: relative;
}

.login__input {
	border: none;
	border-bottom: 2px solid #030307;
	background: none;
	padding: 10px;
	padding-left: 24px;
	font-weight: 700;
	width: 85%;
	transition: .2s;
}
input{
	margin: 1rem;
}

.login__input:active,
.login__input:focus,
.login__input:hover {
	outline: none;
	border-bottom-color: #959393;
}

.sign_up {
	background: rgb(130, 123, 123);
	font-size: 14px;
	margin-top: 30px;
	padding: 16px 20px;
	border-radius: 26px;
	border: 1px solid #000000;
	text-transform: uppercase;
	font-weight: 700;
	display: flex;
	align-items: center;
	width: fit-content;
	color: #ffffff;
	box-shadow: 0px 2px 2px #5C5696;
	cursor: pointer;
	transition: .2s;
	left: 7rem;
}
